<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Projects: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'share' %>
</head>
<body>
<div id="container">

   <div id="header">
     <%= link_to 'Project Home', project_path(@project) %>
   </div> 

    <div id="content">
    <%= javascript_include_tag "prototype.js" %>
    <%= calendar_date_select_includes "red"  %>
    <p style="color: green"><%= flash[:notice] %></p>
    <%= yield  %>
    </div>
     <div id="rightbar">
       right bar here
     </div>



    <div id="footer">
      Welcome to gangcai's home.
    </div>

</div>

</body>
</html>
